<?xml version="1.0"?>
<config>
    <modules>
        <Tb963_CustomMail>
            <version>0.1.0</version>
        </Tb963_CustomMail>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <tb963_custommail>
                    <file>tb963_custommail.xml</file>
                </tb963_custommail>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <tb963_custommail>
                <class>Tb963_CustomMail_Block</class>
            </tb963_custommail>
        </blocks>
    </global>
</config>